/* =====================================
   Page Styles
======================================== */

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.logo {
  cursor: pointer;
}

img.logo {
  max-width: 100%;
  object-fit: cover;
}

.navbar-nav {
  text-align: center;
  border: 1px solid black;
}

.nav-item {
  background-color: #f2f2f2;
  border: 2px solid white;
  padding: 1em;
}



.banner {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/shore_seagrass_web_2000.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.banner-text {
  color: #f2f2f2;
  margin: auto;
  padding: 1em 2em;
}

.banner-text h1 {
  font-size: 2em;
  text-align: center;
}

.card-header {
  margin-top: 1em;
  text-align: center;
  background-color: transparent;
  border: none;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 1rem;
  margin: 1em auto;
  max-width: 95%;
}

.card {
  display: flex;
  flex-flow: column;
  padding: 1em;
}

.card > img, .card > h3 {
  margin: .5em auto;
}

.button {
  padding: 1em;
  border-radius: .5em;
  background-color: #0086b3;
  color: #f2f2f2;
  margin-top: auto;
}

.profiles {
  background-color: #0086b3;
}

.profiles p {
  text-align: center;
}

.profile-header {
  padding-top: 1em;
  text-align: center;
  margin-top: .5em;
}

.profile-wrapper {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-auto-rows: minmax(300px, auto);
grid-gap: 1rem;
padding: 1em;
}

.profile-cards {
  display: flex;
  flex-flow: column;
  border: .5px solid #d9d9d9;
  padding: 1em;
  margin: 1em;
}

.profile-cards > h3 {
  margin-top: .5em;
  text-align: center;
}

.profile-cards > img {
  border-radius: 50%;
  width: 50%;
  margin: 0 auto;
}

.card img {
  max-width: 90%;
}

.feature {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 1rem;
  margin-top: 1em;
}

.feature-item {
  display: flex;
  flex-flow: column;
  padding: 1em;
  text-align: center;
}

.feature-item > h3 {
  margin-top: 1em;
}

footer {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  background-color: #f2f2f2;
  margin-top: 2em;
  padding: 1em;
  border-top: 1px solid grey;
}

.social-icons {
flex-flow: column;
}

.social-icons img {
  padding: .5em;
}

.footer-copyright {
  margin-top: 1em;
}

/* =====================================
   Media Queries
======================================== */

@media only screen and (min-width: 500px) {

#navbarMenu {
  justify-content: flex-end;
}

.navbar-nav {
  text-align: center;
  border: none;
}

.nav-item {
  background-color: transparent;
  border: 2px solid white;
  padding: .5em 1em;
  margin: 0 1em;
}

.nav-item:hover {
  transition: .5s;
  color: #0086b3;
}

}

@media only screen and (min-width: 700px) {




   .banner-text {
     max-width: 75%;
   }

   .banner-text h1 {
     font-size: 3em;
   }

  .feature {
    max-width: 80%;
    margin: 1em auto 0;
  }

  .feature-item {
    margin: 1em;
  }

footer {
  flex-direction: row;
  align-items: baseline;
}

.footer-copyright {
  margin: 0 0 0 auto;
}

}
